.line_1{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 10px;

    border: 1px solid #000000;
}
.line_2{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 160px;

    border: 1px solid #000000; 
    }
.line_3{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 310px;
    
    border: 1px solid #000000;
}
.line_4{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 460px;

    border: 1px solid #000000;   
    }
.line_5{ 
    position: absolute;
    width: 1429px;
    height: 0px;
    left: 0px;
    top: 610px;

    border: 1px solid #000000;  
    }
.line_6{
    position: absolute;
    width: 1440.01px;
    height: 0px;
    left: 0px;
    top: 760px;

    border: 1px solid #000000;
    
}
.line_7{
    position: absolute;
    width: 760px;
    height: 0px;
    left: -10px;
    top: 380px;
    
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-90deg);
    }

/* .btn {
   
} */


/* .muv {
     transition: transform 200ms;
    transform: translateY(0, 50px)
  }    */

.level_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    position: absolute;
    width: 69px;
    height: 70px;
    left: 380px;
    top: 50px;

    background: #2678F3;
    border-radius: 8px;
}
.level_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    position: absolute;
    width: 69px;
    height: 70px;
    left: 380px;
    top: 200px;

    background: #2678F3;
    border-radius: 8px;

}
.level_3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    position: absolute;
    width: 69px;
    height: 70px;
    left: 380px;
    top: 350px;

    background: #2678F3;
    border-radius: 8px;

}
.level_4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    position: absolute;
    width: 69px;
    height: 70px;
    left: 380px;
    top: 500px;

    background: #2678F3;
    border-radius: 8px;

}
.level_5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    position: absolute;
    width: 69px;
    height: 70px;
    left: 380px;
    top: 650px;

    background: #2678F3;
    border-radius: 8px;

}

.lift{
    position: absolute;
    width: 100px;
    height: 150px;
    left: 180px;
    top: 10px;

    background: #D9D9D9;

    
}

.lift_m{
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}